
{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Thursday, February 13th 2020</h3>
      <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      
      <tr><td>08:30 - 09:00</td> <td> Welcome and Introduction/Software Installations </td></tr>    
      <tr><td>09:00 - 10:00</td> <td> <a href="https://https://datacarpentry.org/R-ecology-lesson/01-intro-to-r.html/">Introduction to R</a></td></tr>
      <tr><td>10:30 - 12:30</td> <td> <a href="https://https://datacarpentry.org/R-ecology-lesson/02-starting-with-data.html/">Starting with data</a></td></tr>
      <tr><td>13:00 - 15:00 </td><td><a href="https://https://datacarpentry.org/R-ecology-lesson/03-dplyr.html/">Data manipulation with dplyr and tidyr</a></td></tr>
      <tr><td>15:30 - 16:00</td><td><a href="https://https://datacarpentry.org/R-ecology-lesson/03-dplyr.html/">Data manipulation with dplyr and tidyr contd</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday, February 14th 2020</h3>
    <table class="table table-striped">
			<tr><td>08:00 - 10:00</td><td><a href="https://datacarpentry.org/R-ecology-lesson/03-dplyr.html/">Continuation: Data manipulation with dplyr and tidyr</a></td></tr>
			<tr><td>10:30 - 12:30</td><td><a href="https://https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html/">Data Analysis & Visualization</a></td></tr>
      <tr>
	<td>12:30 - 14:00</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% else %}
{% include warning-curriculum.html %}
{% endif %}
